:host{
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: none;
  z-index: 999;
}

mat-sidenav {
  margin-left: 50px;
  width:calc(100% - 50px);
  background-color:transparent ;
}

mat-nav-list.visible-nav{
  animation-name: fade-nav;
  animation-duration: 1s ;

}

mat-sidenav-container {
  width: 100%;
  height: 64px;
  background-color: transparent;
}

button.active-button mat-icon {
  transform: rotate(180deg);
}

button mat-icon {
  transition: transform 0.3s ease;
}

.nav-button-container button mat-icon{
  font-size: 40px;
  width: fit-content;
  height: fit-content;
}

button,#switch-lang{
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;

}



div {
  width: fit-content;
}

.options-container{
  display: flex;
  justify-content: center;
  align-items: center;

}

.options-container button,.options-container mat-icon,#switch-lang {
  font-size: 25px;
  width:fit-content ;
  height: fit-content;
}

@keyframes fade-nav {
  0%{opacity:0;}
  100%{opacity:100%;}
}


mat-nav-list{
  display: flex;
  justify-content: center;
  align-items: center;

}

a {
  width: fit-content;
  margin-right: 5px;
}

mat-nav-list span{
  text-align: center;
  font-size: 1.5em;
}


