<div class="nav-button-container">
  <button mat-icon-button (click)="sidenav.toggle();isClosed = !sidenav.opened;toggleNavBar()" [ngClass]="{'active-button': !isClosed}" >
    <mat-icon>{{ isClosed ? 'menu' : 'close' }}</mat-icon>
  </button>
</div>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" >
    <mat-nav-list [ngClass]="{'visible-nav': !isClosed}">
      <a mat-list-item (click)="scrollTo(item.route)" *ngFor="let item of menuItems()">
        <span>{{item.label}}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
<div class="options-container">
  <a mat-button href="/{{currentLang}}/">
    <span i18n="@@language">FR</span>
  </a>
  <button mat-icon-button (click)="toggleTheme()">
    <mat-icon>invert_colors</mat-icon>
  </button>
</div>


